.order-card {
  border: 1px solid #77c1e3;
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
  background-color: #fff;
}
.order-card .order-detailss {
  font-size: 14px;
  color: #6c757d;
}
.order-card .order-detailss i {
  margin-left: 5px;
}
.order-card .order-statuss {
  font-size: 16px;
  font-weight: bold;
}
.order-card .order-date,
.order-card .order-number {
  font-size: 16px;
}
.order-card .tags {
  font-size: 14px;
  color: #6c757d;
}
.order-card .tags .btn {
  font-size: 14px;
  padding: 2px 10px;
}

.summary-container {
  background-color: #fff;
  border: 1px solid #77c1e3;
  border-radius: 0.25rem;
  padding: 1rem;
  margin: 20px;
}

.summary-header,
.summary-footer {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  background-color: #f8f9fa;
  padding: 0.75rem;
  border-radius: 0.25rem;
}

.summary-header .icon,
.summary-footer .icon {
  margin-left: 0.5rem;
}

.summary-item {
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 0;
  border-bottom: 1px solid #dee2e6;
}

.summary-item:last-child {
  border-bottom: none;
}

.summary-item .value {
  font-weight: bold;
}

.coupon-input {
  border: 1px solid #20c997;
  color: #20c997;
  border-radius: 1rem;
  padding: 0.25rem 0.75rem;
  background-color: transparent;
  font-size: 0.875rem;
}

.coupon-input:hover {
  background-color: #20c997;
  color: #fff;
}

.table-container {
  background-color: #fff;
  border: 1px solid #77c1e3;
  border-radius: 0.25rem;
  padding: 1rem;
  margin: 20px;
}

.table-header {
  background-color: #f8f9fa;
}
.btn-add-product {
  border-color: #20c997;
  color: #20c997;
}
.btn-add-product:hover {
  background-color: #20c997;
  color: #fff;
}
.table th {
  border-bottom: 2px solid lightgray;
}
.table th,
.table tr {
  text-align: center;
  vertical-align: middle;
  border-top: none;
}

table tbody {
  margin-top: 15px;
}

table tr:nth-child(odd) {
  background-color: #f8f9fa;
}
