/* #app {
    height: 100%
}

html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

body {
    background: #000;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    overflow: hidden;
} */

.child,
.parent {
    position: relative;
    overflow: hidden;
}

.tooltip::before {
    content: '';
    width: 25px;
    height: 25px;
    background-color: #CAF1E3;
    position: absolute;
    top: 100%;
    left: 50%;
    z-index: -1;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
