.header-section {
  text-align: center;
  padding: 5px;
  direction: rtl;
  width:100%;
}

.content-wrapper {
  display: inline-block;
  max-width: 800px;
  margin: auto;
}

.logo {
  width: 100px;
  height: auto;
  margin:auto auto;
  margin-bottom: 15px;
}

.description {
  font-size: 16px;
  color: #333;
  margin-bottom: 15px;
  text-align:center;
}

.sub-description {
  font-size: 12px;
  color: #666;
  text-align:center;
}

.sub-description a {
  color: #27a69a;
  text-decoration: none;
}

.sub-description a:hover {
  text-decoration: underline;
}
