.customer-list-container {
    width:80vw !important;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border:1px solid #ddd;
    margin:auto auto;
    margin-top:25px;
    border-radius:10px;
    padding: 5px;
}

.header-client {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9; 
    padding: 10px;
}

.header-title-client h2 {
    font-size: 24px;
    color: #333; 
}

.quick-edit-btn {
    background-color: #00bcd4; 
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.quick-edit-btn:hover {
    background-color: #0097a7; 
}
.customerList-section{
    background-color: white;
    padding: 15px;

}
.customer-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.customer-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #e0e0e0;
    width:100%;
}

.customer-info {
    display: flex;
    align-items: center;
}

.customer-avatar img{
    margin-right: 10px;
    width:45px;
    height:45px;
    border-radius: 20px;
}

.customer-details {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.customer-name {
    font-weight: 500;
    font-size: 15px;
    color: #00414d;
}

.customer-status {
    font-size: 13px;
    color: #ff9800;
}

.customer-checkbox {
    margin-right: 10px;
}
.first-order-btn{
    background-color: transparent !important;
    border:1px solid #eee;
    color:black;
    height:30px;
    width:100px;
    padding: 5px;
}
.edit-button-client{
  color:  #41474e;
  border: none;
  padding: 7px 20px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #6d91bb; 
  font-size:18px;
}

.head-checkbox-client-input-head{
  width:20px;
  height:20px; 
  margin:0 4px;
}
.customer-country-name{
  font-size:16px;
  
}
.header-checkbox-client-list{
  width:15px;
  height:15px; 
  margin-right:5px;
}
@media (max-width:1400px){
  .customer-list-container {
    width:72vw;
  }
}